* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px #2d3c49;
  background: #fff;
  text-transform: uppercase;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    width: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #2d3c49;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
}
h2, h3, h4, h5, p {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 200;
}

.container {
    width: 100%;
    max-width: 980px;
    height: auto;
    display: flex;
    flex-wrap: wrap;        
}

div.row.header {
    width: 100%;
    margin-top: 0;
    display: inline-block;
}

div.row.header {
   justify-content: space-between;
}
header#header-logo {
    padding: 70px 0px 0px 0px; 
    justify-content: flex-start;
    position: relative;
    padding-bottom: 2px;
    width: 100px;
    height: 83px;
    margin-right: 1em;
    margin-top: 12px;
}

.logo-img {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 1em;
   
}
div.col-sm-8 {
    width: 100%;
    justify-content: flex-end;
    padding: 0;
}

h1.header-title {
    display: inline-block;
    width: 100%;
}

h5.header-caption {
    width: 100%;
    justify-content: flex-end;
    
}

div.row {
    width: 100%;
}

hr {
    border-top: 3px solid;
    border-color: #7d97ad;
}

.hero-image img {
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: #000;
    width: 100%;
    height: 280px;
    opacity: 0.73;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.col-md-12 {
    width: 100%;
    display: flex;
}

.hero-text {
  width: 0 auto;
  margin-top: 135px;
  font-size: 2em;
  text-align: center;
  position: absolute;
  color: #fff;
  background-color: #000;
  opacity: 0.65;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 1.2;
}

.hero-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.hero-text h2 {
  font-family: sans-serif;
  font-size: 1.5em;
}

/****** Main ******/
#main-gallery {
  margin: 0;
  padding: 0;
}

div.row.main {
  width: 100%;
}

#main-gallery.row.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Source: https://www.taniarascia.com/how-to-build-a-responsive-image-gallery-with-flexbox/ for
/* flex box images */

h3 {
  padding-top: 25px;
}

 img.responsive-image{
     width: 350px;
     max-width: 100%;
     margin: 0 auto;
     padding-right: 2em;
}

div.col-sm-4 h4 {
  font-size: 18px;
}

div.col-sm-4 p {
  font-size: 14px;
}

img.responsive-img {
    width: 350px;
    height: 280px;
    max-width: 100%;
}
@media (min-width: 350px)
    div.col-sm-4,
    img.responsive-img {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/* FOOTER */
div.footer {
  display: inline-flex;
  width: 100%;
  margin-bottom: 0;
  height: 40px;
  background: #fff;
  color: #2d3c49;
  font-size: 10px;
  font-family: sans-serif;
  float: right;
}
.footer p {
  text-align: center;
  margin-top: 12px;
  padding-left: 2px;
  background-color: #fff;
}
