* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 15px #2d3c49;
  background: #fff;
  text-transform: uppercase;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #2d3c49;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
}
h2, h3, h4, h5, p {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
  font-weight: 200;
}

.container {
  width: 100%;
  max-width: 980px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header-row {
  width: 100%;
  margin-top: 35px;
}

#header-logo {
  width: 25%;
}

.logo-img {
  padding: 25px 0px 0px 0px;
  flex-direction: row;
  position: relative;
  padding-bottom: 5px;
}

div.col-md-6 {
    width: 25%;
}

h1.header-title {
  width: 100%;
  display: inline-block;
}

h5.header-caption {
  width: 100%;
  flex-direction: row;
}

div.row {
  width: 100%;
  flex-wrap: wrap;
}

.header-wrapper {
  height: 100px;
}

hr {
  border-top: 3px solid;
  border-color: #7d97ad;
}

.hero-image img {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-color: #000;
  width: 100%;
  height: 280px;
  opacity: 0.73;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.hero-text {
  width: 0 auto;
  margin-top: 135px;
  font-size: 2em;
  text-align: center;
  position: absolute;
  color: #fff;
  background-color: #000;
  opacity: 0.65;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 1.2;
}

.hero-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

.hero-text h2 {
  font-family: sans-serif;
  font-size: 1.5em;
}

/****** Main ******/
div#main-gallery {
  width: 100%;
  margin: 0;
  padding: 0;

}

div.row.main {
  width: 100%;
}

#main-gallery.row.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Source: https://www.taniarascia.com/how-to-build-a-responsive-image-gallery-with-flexbox/ for
/* flex box images */
div.col-md-4 {
  width: 100%;
}

img.responsive-image {
  width: 350px;
  max-width: 100%;
  flex-direction: row;
}

h3 {
  padding-top: 25px;
}

div.col-md-4 img {
  display: inline-block;
  width: 342px;
  height: 280px;
}

div.col-md-4 h4 {
  font-size: 14px;
}

div.col-md-4 p {
  font-size: 10px;
}

/* FOOTER */
div.footer {
  display: inline-flex;
  width: 100%;
  margin-bottom: 0;
  height: 40px;
  background: #fff;
  color: #2d3c49;
  font-size: 10px;
  font-family: sans-serif;
  float: right;
}
.footer p {
  text-align: center;
  margin-top: 12px;
  padding-left: 2px;
  background-color: #fff;
}
